#{extends 'main.html' /} #{set title:'Tenant login' /}


<nav class="ui blue menu">
	<a class="ui item" href="/">Welcome</a> <a class="ui item"
		href="/tenant/signup">Tenant Sign Up</a> <a class="ui active item"
		href="/tenant/login">Tenant Log In</a><a class="ui item"
		href="/tenant/logout">Log out</a>
</nav>

<section class="ui blue segment">

	<div class="ui raised container segment">

		<p align="center">
			<img src="../public/images/houseBanner.png">
		</p>

		<h1>Log into your Tenant account</h1>
		<h2>Your Username and Email you registered with:</h2>

		<form class="ui form segmrnt" action="/tenant/authenticate"
			method="POST">

			<div class="ui left icon input">
				<input placeholder="Email" type="text" name="email" required>
				<i class="user icon"></i>
			</div>

			<div class="ui left icon input">
				<input placeholder="**********" type="Password" name="password"
					required> <i class="unlock alternate icon"></i>
			</div>


			<br /> <br />
			<button class="ui blue submit button">Submit</button>
<div class="ui error message"></div>

		</form>

	</div>

</section>

<script src="@{'/public/javascripts/validationLog.js'}"></script>