#{extends 'main.html' /} #{set title:'Tenant signUp' /} 


#{if admin == null}
<nav class="ui blue menu">
	<a class="ui item" href="/">Welcome</a> <a class="ui active item"
		href="/signup">Tenant Sign Up</a> <a class="ui item"
		href="/tenant/login">Log In</a> <a class="ui item"
		href=" /tenant/logout">Log out</a>
</nav>
#{/if} #{else}
<nav class="ui blue menu">
	<a class="ui item" href="/">Welcome</a> <a class="ui active item"
		href="#">Administration Mode</a> <a class="ui item"
		href="/admin/adminConfig ">Administration Configure</a><a
		class="ui item" href="/adminReport">Administration Report</a> <a
		class="ui item" href="/admin/chart">Administration Charts</a> <a
		class="ui item" href="/admin/logout">Log Out</a>
</nav>
#{/else}




<section class="ui blue segment">

	<div class="ui raised container segment">

		<p align="center">
			<img src="../public/images/houseBanner.png">
		</p>

		<h1>Create a myRent Tenant account....</h1>
		<h2>Register using a vaild Email address:</h2>

		#{if admin == null}
		<form class="ui form segment" action="/tenant/register" method="POST">
			#{/if} #{else}
			<form class="ui form segment" action="/admin/registerTenant"
				method="POST">
				#{/else}

				<div class="two fields">

					<div class="field">
						<label>First Name</label> <input placeholder="First Name"
							type="text" name="firstName" required>
					</div>

					<div class="field">
						<label>Last Name</label> <input placeholder="Last Name"
							type="text" name="lastName" required>
					</div>

				</div>


				<div class="two fields">


					<div class="field">
						<label>Address</label> <input type="text" name="address" required>
					</div>


					<div class="field">
						<label>Email</label> <input placeholder="Email" type="text"
							name="email" required>
					</div>



				</div>

				<div class="field">
					<label>Password</label> <input type="Password" name="password"
						required>
				</div>

				<div class="ui toggle checkbox">
					<input name="agree" type="checkbox" id="agreeTerms" required>
					<label>Do you agree to our terms and conditions </label>
				</div>
				<br /> <br />

				<button class="ui blue submit button">Submit</button>
				<div class="ui error message"></div>

			</form>
	</div>
</section>
<script src="@{'/public/javascripts/validationSign.js'}"></script>