#{extends 'main.html' /} #{set title:'Tenant Config Page' /}
<nav class="ui blue menu">
	<a class="ui item" href="/">Welcome</a><a class="ui active item" href="/tenant/tenantConfig">Configure</a>
	<a class="ui item" href="/tenant/logout">Log out</a>
</nav>


<div class="ui raised container blue segment">

  <div class="ui two column grid segment">

    <div class="ui eigth wide column">

      <section class="ui segment">
        <h2>Exiting rental eircode:</h2>
        <section class="ui segment">
          <label class="ui orange label eircode">${myEircode}</label>
        </section>
      </section>

      <section class="ui segment">
        <h2>Press to end Tenancy:</h2>
        <section class="ui segment">
          <button type="button" class="ui fluid blue submitt button"
            onclick="terminateRes()">Terminate tenancy</button>
        </section>
      </section>


      <form class="ui form segment tenant">
        <h2>Select from vacant residences for new rentals:</h2>
        <section class="ui segment">
          <select id="selectResOption" class="ui fluid dropdown tenants"
            name="newTenantResidence">
            <option class="tenantsNames" value="" selected>Vacant
              Residences</option>
            <div class="ui list">
              #{list items: vacantResidences, as: 'property'}
              <option class="tenantsNames" value="${property.eircode}">${property.eircode}</option>
              #{/list}
            </div>
          </select>
        </section>
        <section class="ui segment">
          <button class="ui fluid blue submitt button">Change
            tenancy</button>
          <div class="ui error message"></div>
        </section>
      </form>


    </div>

     <div class="ui eigth wide column">
     
      <section class="ui segment">
        <h4>Marker locations</h4>
        <div id="map_canvas"></div>
         <div class="four ui buttons">
        <button type="button" class="ui blue submitt button" onclick="start()">Start</button>
        <button type="button" class="ui blue submitt button"onclick="stop()">Stop</button>
        <button type="button" class="ui blue submitt button"onclick="filter()">Filter</button>
        <button type="button" class="ui blue submitt button"onclick="reset()">Reset</button>
        </div> 
      </section>
  </div>  
   </div>
     
      <section class="ui sixteen wide segment">
      <h5>Markers within search area</h5>
     <div style="overflow-y:scroll; max-height:400px"> 
          <table class="ui orange table segment">
            <thead>

        <tr>
          <th>Eircode</th>
          <th>Date registered</th>
          <th>Rent($)</th>
          <th>Bedrooms</th>
          <th>Bathrooms</th>
          <th>Area m<sup>2</sup></th>
        </tr>

      </thead>
            <tbody id="markertable">           
              <tr>
              </tr>          
            </tbody>
          </table>
       </div>
      </section>

      <!--<form class="ui form segment" action="/reportResultTenant"
        method="POST">
        <div id="map_canvas"></div>

        <button type="submit" class="ui fluid blue submit button"
          onclick="requestReport()">Search for Vavent Residences</button>

        <div style="visibility: hidden" name="circledata" id="circledata">
          <input type="text" id="radius" name="radius"> <input
            type="text" id="latcenter" name="latcenter"> <input
            type="text" id="lngcenter" name="lngcenter">
        </div>

      </form>-->

    </div> 


</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyBtlVC_sNyT5CcqdDpnCfQPannxflgWHKQ"></script>
<script src="@{'/public/javascripts/tenentValidation.js'}" type="text/javascript" charset="utf-8"></script>
<script src="/public/javascripts/tenantReportMap.js" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/javascripts/ajaxTenantConfig.js'}" type="text/javascript" charset="utf-8"></script>
