#{extends 'main.html' /} #{set title:'Welcome' /}

<nav class="ui blue menu">
	<a class="ui active item" href="/">Welcome</a> <a class="ui item"
		href="/tenant/login">Tenant</a> <a class="ui item"
		href="/landlord/login">Landlord</a><a class="ui item" href="/admin/login">Administration</a>
</nav>

<section class="ui blue segment">


	<div class="ui raised container segment">
		<p align="center">
			<img src="../public/images/houseBanner.png">
		</p>


		<h1>Welcome to myRent</h1>
		<h2>Your guide to residential property:</h2>


		<h4>
			<p>The 2004 Residential Act give every landlord and tenants a
				right to rent review once a year.</p>

			<p>The Act makes it illegal for a landlord to charge a rent
				higher than the market value.</p>

			<p>If there is a dispute about the market rent, either the
				landlord or the tenant can make a case to the Private Residential
				Tenancies Board(the PTRB).</p>

			<p>The problem with this system is in establishing an object way
				of determining the market rent of a property.</p>

			<p>The purpose of myRent is to gather information on rents from
				landlords and tenants and allow any registered user to generate a
				report on the state of the rental market.</p>

			<p>The success of the project will depend on the willingness of
				tenants and landlords to provide information about their properties.</p>

			<p>LogIn or create a new account and input your details on the
				Input Data page. To provide the required information will take just
				a few minutes of your time.</p>
		</h4>
	</div>

</section>