#{extends 'main.html' /} #{set title: 'Administration Chart'/}

<nav class="ui blue menu">
	<a class="ui item" href="/">Welcome</a> <a class="ui  item" href="#">Administration</a>
	<a class="ui item" href="/admin/adminConfig">Administration
		Configure</a> <a class="ui item" href="/adminReport">Administration
		Report</a> <a class="ui active item" href="/admin/chart">Administration
		Charts</a> <a class="ui item" href="/admin/logout">Log Out</a>
</nav>

<section class="ui blue segment">
	<div class="ui raised container segment">
<h2>List rents</h2>
		<div class="ui grid segment">
			
			<div class="ui eight wide column">

				<table class="ui celled table">
					<thead>
						<tr>
							<th>Landlord</th>
							<th>Eircode</th>
							<th>Rent</th>
						</tr>
					</thead>
					<div class="ui list">
						#{list items: residences, as: 'residence'}

						<tbody>
							<tr>
								<td>${residence.landlord}</td>
								<td>${residence.eircode}</td>
								<td>${residence.rent}</td>
							</tr>
						</tbody>

						#{/list}
					</div>
				</table>
			</div>

			<div class="ui eight wide column">
				<section class="ui segment">
					<div id="chartContainer" style="height: 400px; width: 400px;">
					</div>

				</section>
			</div>

		</div>

	</div>
</section>
<script type="text/javascript" src="/public/javascripts/pieChart.js"></script>
<script type="text/javascript" src="/public/javascripts/jquery.canvasjs.min.js"></script> 