#{extends 'main.html' /} #{set title:'Administration Report' /}

<nav class="ui blue menu">
	<a class="ui item" href="/">Welcome</a> <a class="ui  item" href="#">Administration</a>
	<a class="ui item" href="/admin/adminConfig">Administration
		Configure</a> <a class="ui active item" href="/adminReport">Administration
		Report</a> <a class="ui item" href="/admin/chart">Administration Charts</a>
	<a class="ui item" href="/admin/logout">Log Out</a>
</nav>

<section class="ui blue segment">

	<div class="ui raised container segment">

		<h4>Report: filtered by ${filterType}</h4>

		<table class="ui seven column blue celled table segment">
			<thead>
				<tr>

					<th>Eircode</th>
					<th>Date registered</th>
					<th>Type</th>
					<th>Rent($)</th>
					<th>Bedrooms</th>
					<th>Bathrooms</th>
					<th>Area m<sup>2</sup></th>
					<th>Tenant</th>
					<th>Landlord</th>
				</tr>
			</thead>

			<div class="ui list">

				#{list items: residences, as:'residence'}

				<tbody>

					<tr>
						<td>${residence.eircode}</td>
						<td>${residence.date}</td>
						<td>${residence.type}</td>
						<td>${residence.rent}</td>
						<td>${residence.bedrooms}</td>
						<td>${residence.bathrooms}</td>
						<td>${residence.area}</td>
						<td>${residence.tenant}</td>
						<td>${residence.landlord}</td>
					</tr>
			</div>

			</tbody>

			#{/list}

		</table>
		<hr />
		<form class="ui form segment>" action="/adminReportResult"
			method="POST">
			<div class="four ui buttons">
				<button class="ui blue submitt button" name="num" value="1">Filter
					By Vacant</button>
				<button class="ui blue submitt button" name="num" value="2">Filter
					By Rent</button>
				<button class="ui blue submitt button" name="num" value="3">Filter
					By Type</button>
				<button class="ui blue submitt button" name="num" value="4">Refresh
					All</button>
			</div>
		</form>
		<hr />
	</div>
</section>