#{extends 'main.html' /} #{set title:'reportResult' /}

<nav class="ui blue menu">
	<a class="ui item" href="/">Welcome</a> <a class="ui item"
		href="/inputData">Input Data</a> <a class="ui active item"
		href="/reportLandlord ">Report</a><a class="ui item" href="/contact">Contact</a><a
		class="ui item" href="/landlord/editData">Edit Details</a> <a
		class="ui item" href="/landlord/landlordConfig">Landlord Configure</a>
	<a class="ui item" href="/landlord/logout">Log out</a>

</nav>


<section class="ui segment">
	<h4>Report</h4>

	<section class="ui segment">

		<table class="ui blue table segment">
			<thead>

				<tr>
					<th>Commissioned by</th>
					<th>Search: radius(m)</th>
					<th>Centre(latitude)</th>
					<th>Centre(longitude)</th>
				</tr>

			</thead>

			<tbody>

				<tr>
					<td>${luser.firstName} ${luser.lastName}</td>
					<td>${circle.radius}</td>
					<td>${circle.latcenter}</td>
					<td>${circle.lngcenter}</td>
				</tr>

			</tbody>
		</table>

		<table class="ui eight column blue celled table segment">
			<thead>
				<tr>

					<th>Residence Id</th>
					<th>Residence User</th>
					<th>Date registered</th>
					<th>Rent($)</th>
					<th>Area m<sup>2</sup></th>
					<th>Bathrooms</th>
					<th>Bedrooms</th>
					<th>Eircode</th>
					<th>Tenant</th>
					<th>Landlord</th>
			</thead>

			<div class="ui list">

				#{list items: residences, as:'residence'}

				<tbody>

					<tr>
						<td>${residence.id}</td>
						<td>${residence.landlord}</td>
						<td>${residence.date}</td>
						<td>${residence.rent}</td>
						<td>${residence.area}</td>
						<td>${residence.bathrooms}</td>
						<td>${residence.bedrooms}</td>
						<td>${residence.eircode}</td>
						<td>${residence.tenant}</td>
						<td>${residence.landlord}</td>
						
						
					</tr>


				</tbody>

				#{/list}
			</div>
		</table>

	</section>

</section>