#{extends 'main.html' /} #{set title:'reportResult' /}

<nav class="ui blue menu">
	<a class="ui item" href="/">Welcome</a><a class="ui item"
		href="/tenant/tenantConfig">Configure</a> <a class="ui active item"
		href="#">Report</a><a class="ui item" href="/tenant/logout">Log
		out</a>

</nav>
<section class="ui segment">
	<h4>Report</h4>

	<section class="ui segment">

		<table class="ui blue table segment">
			<thead>

				<tr>
					<th>Commissioned by</th>
					<th>Search: radius(m)</th>
					<th>Centre(latitude)</th>
					<th>Centre(longitude)</th>
				</tr>

			</thead>

			<tbody>

				<tr>
					<td>${tUser.firstName} ${tUser.lastName}</td>
					<td>${circle.radius}</td>
					<td>${circle.latcenter}</td>
					<td>${circle.lngcenter}</td>
				</tr>

			</tbody>
		</table>

		<table class="ui seven column blue celled table segment">
			<thead>

				<tr>
					<th>Eircode</th>
					<th>Date registered</th>
					<th>Rent($)</th>
					<th>Bedrooms</th>
					<th>Bathrooms</th>
					<th>Area m<sup>2</sup></th>
				</tr>

			</thead>

			<div class="ui list">

				#{list items: residences, as:'residence'}

				<tbody>

					<tr>
						<td>${residence.eircode}</td>
						<td>${residence.date}</td>
						<td>${residence.rent}</td>
						<td>${residence.bedrooms}</td>
						<td>${residence.bathrooms}</td>
						<td>${residence.area}</td>
					</tr>


				</tbody>

				#{/list}
			</div>
		</table>

	</section>

</section>