#{extends 'main.html' /} #{set title:'report' /}

<nav class="ui blue menu">
	<a class="ui item" href="/">Welcome</a><a class="ui item"
		href="/inputData">Input Data</a><a class="ui active item"
		href="/reportLandlord">Report</a><a class="ui item" href="/contact">Contact</a><a
		class="ui item" href="/landlord/editData">Edit Details</a><a
		class="ui item" href="/landlord/landlordConfig">Landlord Configure</a>
	<a class="ui item" href="/landlord/logout">Log out</a>

</nav>

<section class="ui form blue segment">
	<div class="ui raised container blue segment">


		<section class="ui segment">
			<h4>Define the region for which you require a report</h4>
			<form action="/reportResultLandlord" method="POST">
				Size and position circle to select region for report

				<div id="map_canvas"></div>

				<br>

				<div style="visibility: hidden" name="circledata" id="circledata">
					<input type="text" id="radius" name="radius"> <input
						type="text" id="latcenter" name="latcenter"> <input
						type="text" id="lngcenter" name="lngcenter">
				</div>

				<button type="submit" class="ui blue submit button"
					onclick="requestReport()">Generate Report</button>

			</form>
		</section>



	</div>


</section>
<style type="text/css">
#map-canvas {
	height: 650px
}
</style>
<script
	src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyBtlVC_sNyT5CcqdDpnCfQPannxflgWHKQ"></script>
<script src="/public/javascripts/landlordReportMap.js" type="text/javascript"
	charset="utf-8"></script>
