#{extends 'main.html' /} #{set title:'Edit Residence' /}

<nav class="ui blue menu">
	<a class="ui item" href="/">Welcome</a> <a class="ui item" href="#">Sign
		Up</a> <a class="ui item" href="#">Log In</a> <a class="ui item"
		href="/inputData">Input Data</a><a class="ui item" href="/report">Report</a>
	<a class="ui item" href="/contact">Contact</a><a class="ui active item"
		href="#">Edit Residence</a><a class="ui item" href="editData">Edit
		Details</a> <a class="ui item" href="/landlord/landlordConfig">Configure</a>
	<a class="ui item" href="/logOut">Log out</a>

</nav>

<section class="ui blue segment">

	<div class="ui raised container blue segment">

		<p align="center">
			<img src="../public/images/houseBanner.png">
		</p>
		<p>
		<h2>Please update residence data:</h2>
		</p>
		<hr />
		<form class="ui form segment" action="/ammendResidence/${residence.id}" method="POST">

			<div class="two fields">

				<div class="field">
					<div class="ui labeled input">
						<div class="ui green label">Eircode</div>
						<input type="text" placeholder="${residence.eircode}" readonly>
					</div>
				</div>


				<div class="field">
					<div class="ui labeled input">
						<div class="ui green label">Monthly rent</div>
						<input type="text" name="rent" placeholder="${residence.rent}" required>
					</div>
				</div>

			</div>
			<button class="ui blue submit button">Update data</button>
		</form>
	</div>
</section>