#{extends 'main.html' /} #{set title:'Input Data' /}

<nav class="ui blue menu">
	<a class="ui item" href="/">Welcome</a><a class="ui active item"
		href="/inputData">Input Data</a> <a class="ui item"
		href="/reportLandlord">Report</a> <a class="ui item" href="/contact">Contact</a><a
		class="ui item" href="/landlord/editData">Edit Details</a> <a
		class="ui item" href="/landlord/landlordConfig">Landlord Configure</a><a
		class="ui item" href="/landlord/logout">Log out</a>
</nav>

<section class="ui  blue form segment">
	<div class="ui raised container segment">


		<div class="ui grid">

			<div class="seven wide column">
				<h3>Please input resident data:</h3>
				<form action="/dataEntry" method="POST">

					<div class="ui red  segment">
						<div class="ui red right labeled input">
							<div class="ui red label">Location:</div>
							<input id="geolocation" type="text"
								placeholder="EG: 52.2546765,-7.1852810" name="geolocation"
								required>
							<div class="ui red basic label">
								<i class="pointing right icon"></i>
							</div>
						</div>
					</div>

					<div class="ui red segment">
						<div class="two fields">

							<div class="field">

								<div class="ui red right labeled input">
									<div class="ui red label">$</div>
									<input type="text" placeholder="Rent" name="rent" required>
									<div class="ui basic label">.00</div>

								</div>

							</div>

							<div class="field">

								<div class="ui red labeled input">
									<div class="ui red label">Bedrooms</div>
									<input type="text" placeholder="0" name="bedrooms" required>

								</div>

							</div>

						</div>

					</div>
					<div class="ui segment">

						<div class="two fields">
							<div class="field">

								<div class="ui  right labeled input">
									<div class="ui red label">Area</div>
									<input type="text" placeholder="approximate" name="area"
										required>
									<div class="ui basic label">
										m<sup>2</sup>
									</div>

								</div>

							</div>

							<div class="field">

								<div class="ui labeled input">
									<div class="ui red label">Bathrooms</div>
									<input type="text" placeholder="0" name="bathrooms" required>
								</div>

							</div>
						</div>
						<div class="ui red segment">
							<div class="ui fluid labeled input">
								<div class="ui red label">Eircode</div>
								<input type="text" placeholder="eg: YTR45D" name="eircode"
									required>
							</div>
						</div>
					</div>
					<div class="ui red segment">
						<select class="ui fluid dropdown type" name="type" required>
							<option value="" selected>Resident Type</option>
							<option value="house">house</option>
							<option value="bungalow">bungalow</option>
							<option value="flat">flat</option>
							<option value="appartment">apartment</option>
						</select>
					</div>
					<button class="ui blue submit button">Submit Data</button>
					<div class="ui error message"></div>

				</form>
				<section class="ui segment">
					<iframe src="https://finder.eircode.ie/#/" width="430" height="400">
					</iframe>
				</section>

			</div>
			<div class="nine wide column">
				<!-- 		<input type="text" id="geolocation" readonly class="input-medium"> -->
				<div id="map-canvas"></div>


			</div>
		</div>
	</div>
</section>
<style type="text/css">
#map-canvas {
	height: 650px
}
</style>
<script src="@{'public/javascripts/validationInp.js'}"></script>
<script
	src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyBtlVC_sNyT5CcqdDpnCfQPannxflgWHKQ"></script>
<script src="/public/javascripts/inputReportmap.js"></script>