#{extends 'main.html' /} #{set title:'Contact Acknowledgement' /}

<nav class="ui blue menu">
	<a class="ui item" href="/inputData">Input Data</a><a class="ui item"
		href="/reportLandlord">Report</a><a class="ui active item" href="/contact">Contact</a>
	<a class="ui item" href="/landlord/landlordConfig">Landlord
		Configure</a> <a class="ui item" href="/landlord/logout">Log out</a>
</nav>


<section class="ui blue segment">

	<div class="ui raised container segment">
		<p align="center">
			<img src="../public/images/houseBanner.png">
		</p>

		<h1>Acknowledgement</h1>

		<h2>Thank you for your message:</h2>

		<h4>
			<p>We very much appreicate you having taken the time out of you
				very busy schedule to contact us.</p>

			<p>We will deal with this issue you have raised and advise you of
				the outcome as soon as possible.</p>

			<p>With best wishes myRent CEO Randall Carlson .</p>
		</h4>

		<a href="/landlord/landlordConfig">
			<button class="ui blue submit button">Home</button>
		</a>

	</div>



</section>