#{extends 'main.html' /} #{set title:'ContactForm' /}

<nav class="ui blue menu">
	<a class="ui item" href="/">Welcome</a> <a class="ui item"
		href="/inputData">Input Data</a><a class="ui item" href="/reportLandlord">Report</a><a
		class="ui active item" href="/contact">Contact</a><a class="ui item"
		href="/landlord/editData">Edit Details</a> <a class="ui item"
		href="/landlord/landlordConfig">Landlord Configure</a><a
		class="ui item" href="/landlord/logout">Log out</a>
</nav>

<section class="ui blue segment">

	<div class="ui raised container blue segment">

		<h3>We would very much appreciate if you would provide some feed
			back:</h3>

		<form class="ui form segment" action="/formAck" method="POST">

			<div class="two fields">

				<select class="ui fluid dropdown firstName" name="firstName">
					<option value="" selected>First Name</option>
					<div class="ui list">
						#{list items: firstNames, as:'firstName'}
						<option value="${firstName}">${firstName}</option>
						#{/list}
					</div>
				</select> <select class="ui fluid dropdown lastName" name="lastName">
					<option value="" selected>Last Name</option>
					<div class="ui list">
						#{list items: lastNames, as:'lastName'}
						<option value="${lastName}">${lastName}</option>
						#{/list}
					</div>
				</select>

			</div>

			<hr />

			<select class="ui fluid dropdown email" name="email">
				<option value="" selected>Email</option>
				<div class="ui list">
					#{list items: users, as:'user'}
					<option value="${user.email}">${user.email}</option>
					#{/list}
				</div>
			</select>

			<hr />

			<div class="field">
				<textarea placeholder="Message Text" name="messageText" required></textarea>
			</div>

			<hr />

			<br />

			<button class="ui blue submit button">Send Message</button>

		</form>

	</div>

</section>
<script src="@{'/public/javascripts/contactFrom.js'}"></script>