#{extends 'main.html' /} #{set title:'Administration Configure' /}

<nav class="ui blue menu">
	<a class="ui item" href="/">Welcome</a> <a class="ui  item" href="#">Administration</a>
	<a class="ui active item" href="#">Administration Configure</a> <a
		class="ui item" href="/adminReport">Administration Report</a> <a
		class="ui item" href="/admin/chart">Administration Charts</a><a
		class="ui item" href="/admin/logout">Log Out</a>
</nav>

<section class="ui blue segment">

  <div class="ui raised container segment">

    <div class="ui grid segment">
      <div class="ui seven wide column">
        <h2>Administration page:</h2>
        <h3>Register landlords and tenants</h3>
        <section class="ui segment">
          <a href="/landlord/signup"><button
              class="ui fluid blue submitt button">Register landlord</button></a>
        </section>
        <section class="ui segment">
          <a href="/tenant/signup"><button
              class="ui fluid blue submitt button">Register tenant</button></a>
        </section>


        <form class="ui form segment landlord" >
          <select class="ui fluid dropdown landlordNames" name="landlordId">
           <option value="" selected>Select a Landlord to delete</option>
            #{list items: landlords, as:'landlord'}
            <option class="landlordsNames" data-value="${landlord.firstName}"
              value="${landlord.id}"">${landlord.email}</option> #{/list}
          </select>
          <section class="ui segment">
            <button class="ui fluid blue submitt button">Delete
              landlord</button>
            <div class="ui error message"></div>
          </section>
        </form>


        <form class="ui form segment tenant">
          <select class="ui fluid dropdown tenantNames" name="tenantId">
            <option value="" selected>Select a tenant to delete</option>
            #{list items: tenants, as: 'tenant'}
            <option class="tenantsNames" data-value="${tenant.firstName}" value="${tenant.id}">${tenant.firstName}</option> #{/list}
          </select>
          <section class="ui segment">
            <button class="ui fluid blue submitt button">Delete
              tenant</button>
            <div class="ui error message"></div>
          </section>

        </form>


      </div>
      <div class="ui nine wide column">
        <section class="ui segment">
          <div id="map_canvas"></div>

        </section>
      </div>

    </div>
  </div>
</section>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyBtlVC_sNyT5CcqdDpnCfQPannxflgWHKQ"></script>
<script src="/public/javascripts/adminMap.js"></script>
<script src="@{'/public/javascripts/ajaxAdminConfig.js'}"></script>

