#{extends 'main.html' /} #{set title:'Administration login' /}

<nav class="ui blue menu">
	<a class="ui item" href="/">Welcome</a> <a class="ui active item"
		href="#">Administration</a> <a class="ui item" href="/admin/logout">Log
		Out</a>
</nav>

<section class="ui blue segment">

	<div class="ui raised container segment">

		<p align="center">
			<img src="../public/images/houseBanner.png">
		</p>

		<h1>Log into your Administration account</h1>
		<h2>Your Username and Email you registered with:</h2>

		<form class="ui form segment" action="/admin/authenticate"
			method="POST">

			<div class="ui left icon input">
				<input placeholder="Email" type="text" name="email" required>
				<i class="user icon"></i>
			</div>

			<div class="ui left icon input">
				<input placeholder="P********D" type="Password" name="password"
					required> <i class="unlock alternate icon"></i>
			</div>


			<br /> <br />
			<button class="ui blue submit button">Submit</button>
			<div class="ui error message"></div>

		</form>

	</div>

</section>

<script src="@{'/public/javascripts/validationLog.js'}"></script>