#{extends 'main.html' /} #{set title:'Edit Details' /}

<nav class="ui blue menu">
	<a class="ui item" href="/">Welcome</a><a class="ui item"
		href="/inputData">Input Data</a><a class="ui item" href="/reportLandlord ">Report</a><a
		class="ui item" href="/contact">Contact</a><a class="ui active item"
		href="/landlord/editData">Edit Details</a><a class="ui item"
		href="/landlord/landlordConfig">Landlord Configure</a> <a
		class="ui item" href="/landlord/logout">Log out</a>
</nav>

<section class="ui blue segment">

	<div class="ui raised container blue segment">
		<h2>You may edit your data here:</h2>
		<form class="ui form segment" action="/landlord/amend" method="POST">
			<div class="two fields">
				<div class="field">
					<label>First Name</label> <input placeholder="${user.firstName}"
						type="text" name="firstName">
				</div>

				<div class="field">
					<label>Last Name</label> <input placeholder="${user.lastName}"
						type="text" name="lastName">
				</div>
			</div>
			<div class="two fields">


				<div class="field">
					<label>Addresss</label> <input type="text" name="address"
						placeholder="${user.address}">
				</div>

				<div class="field">
					<label>Email</label> <input placeholder="${user.email}" type="text"
						name="email">
				</div>

			</div>

			<div class="field">
				<label>Password</label> <input type="Password" name="password"
					placeholder="**********" required>
			</div>



			<button class="ui blue submit button">Submit</button>
			<a href="/inputData"><button type="button" class="ui blue button">Cancel</button></a>
		</form>

	</div>
</section>