#{extends 'main.html' /} #{set title:'Landlord Config Page' /}
<nav class="ui blue menu">
	<a class="ui item" href="/">Welcome</a><a class="ui item"
		href="/inputData">Input Data</a><a class="ui item" href="/reportLandlord">Report</a><a
		class="ui item" href="/contact">Contact</a><a class="ui item"
		href="/landlord/editData">Edit Details</a> <a class="ui active item"
		href="/landlord/landlordConfig">Landlord Configure</a> <a
		class="ui item" href="/landlord/logout">Log out</a>
</nav>
<section class="ui segment">

	<div class="ui raised container blue segment">


		<h2>Landlord Configureation Page:</h2>

		<form class="ui form segment">
			<div class="two fields">
				<div class="field">
					<section class="ui segment">
						<a href="/inputData"><button type="button"
								class="ui fluid blue submitt button">Add Residence</button></a>
					</section>
				</div>
				<div class="field">
					<section class="ui segment">
						<a href="/landlord/editData"><button type="button"
								class="ui fluid blue submitt button">Edit Landlord
								Profile</button></a>
					</section>
				</div>
			</div>
		</form>


		<section class="ui grid section">



			<div class="ui eight wide column">
				<form class="ui form segment" action="/deleteResidence"
					method="POST">

					<select class="ui fluid dropdown deleteResidence" name="deleteResidenceId" required>
						<option value="" selected>Select a Residence to delete</option>
						#{list items: myResidences, as:'residence'}
						<option value="${residence.id}">Eircode:
							${residence.eircode}</option> #{/list}
					</select>

					<section class="ui segment">
						<button class="ui fluid blue submitt button">Delete
							Residence</button>
					</section>
				</form>
			</div>

			<div class="ui eight wide column">
				<form class="ui form segment" action="/editResidence" method="POST">
					<select class="ui fluid dropdown editResidence" name="editResidenceId" required>
						<option value="" selected>Select a Residence to Edit</option>
						#{list items: myResidences, as:'residence'}
						<option value="${residence.id}">Eircode:
							${residence.eircode}</option> #{/list}
					</select>

					<section class="ui segment">
						<button class="ui fluid blue submitt button">Edit
							Residence</button>
					</section>
				</form>
			</div>

		</section>

	</div>
</section>

<script src="@{'/public/javascripts/landlordConfig.js'}"></script>